
<div class="" role="main">

<!-- START TABLE 1 -->
<div class="example-container mat-elevation-z0">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z0">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <mat-divider vertical style="height:36px; margin-right:4px"></mat-divider>
      <ng-container mat-header-cell *matHeaderCellDef>
          <th>
            <label mat-sort-header>
              <!-- {{column}} -->              
            </label> 
          </th>
      </ng-container>
      <td mat-cell *matCellDef="let element">
        <!-- {{element[column]}} -->  
        <label *ngIf="element[column] === element.name" mat-sort-header class="toBold">
          <input matInput type="text" (input)="calcData()" [value]="element[column]" [(ngModel)]="element[column]">
        </label> 
        <label *ngIf="element[column] !== element.name" mat-sort-header>
          <input matInput type="text" (input)="calcData()" [value]="element[column]" [(ngModel)]="element[column]">      
        </label> 
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div *ngIf="element?.rate?.name" class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-diagram">
                  <td mat-cell>
                    <mat-form-field floatLabel="never" appearance="none">
                      <input matInput placeholder="Value" [value]="element.rate.name" [(ngModel)]="element.rate.name">
                    </mat-form-field>
                  </td>
                  <td mat-cell>
                    <mat-form-field floatLabel="never" appearance="none">
                      <input matInput placeholder="Value" [value]="element.rate.C" [(ngModel)]="element.rate.C">
                    </mat-form-field>
                  </td>
                  <td mat-cell>
                    <mat-form-field floatLabel="never" appearance="none">
                      <input matInput placeholder="" [value]="element.rate.D" [(ngModel)]="element.rate.D">
                    </mat-form-field>{{element.D}}
                  </td>
                  <td mat-cell>
                    <mat-form-field floatLabel="never" appearance="none">
                      <input matInput placeholder="" [value]="element.rate.E" [(ngModel)]="element.rate.E">
                    </mat-form-field>
                  </td>
                  <td mat-cell>
                    <mat-form-field floatLabel="never" appearance="none">
                      <input matInput placeholder="" [value]="element.rate.F" [(ngModel)]="element.rate.F">
                    </mat-form-field>
                  </td>
                  <td mat-cell>
                    <mat-form-field floatLabel="never" appearance="none">
                      <input matInput placeholder="" [value]="element.rate.G" [(ngModel)]="element.rate.G">
                    </mat-form-field>
                  </td>
                </div>
            </div>

            <div *ngIf="element?.rate_per?.name" class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <td mat-cell>
                  <mat-form-field floatLabel="never" appearance="none">
                    <input matInput placeholder="Value" [value]="element.rate_per.name" [(ngModel)]="element.rate_per.name">
                  </mat-form-field>
                </td>
                <td mat-cell>
                  <mat-form-field floatLabel="never" appearance="none">
                    <input matInput placeholder="Value" [value]="element.rate_per.C" [(ngModel)]="element.rate_per.C">
                  </mat-form-field>
                </td>
                <td mat-cell>
                  <mat-form-field floatLabel="never" appearance="none">
                    <input matInput placeholder="" [value]="element.rate_per.D" [(ngModel)]="element.rate_per.D">
                  </mat-form-field>
                </td>
                <td mat-cell>
                  <mat-form-field floatLabel="never" appearance="none">
                    <input matInput placeholder="" [value]="element.rate_per.F" [(ngModel)]="element.rate_per.F">
                  </mat-form-field>
                </td>
                <td mat-cell>
                  <mat-form-field floatLabel="never" appearance="none">
                    <input matInput placeholder="" [value]="element.rate_per.G" [(ngModel)]="element.rate_per.G">
                  </mat-form-field>
                </td>              
              </div>
          </div>

          <div *ngIf="element?.minimum?.name" class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <td mat-cell>
                <mat-form-field floatLabel="never" appearance="none">
                  <input matInput placeholder="Value" [value]="element.minimum.name" [(ngModel)]="element.minimum.name">
                </mat-form-field>
              </td>
              <td mat-cell>
                <mat-form-field floatLabel="never" appearance="none">
                  <mat-select [(value)]="element.minimum.C" placeholder="50%">
                    <mat-option value="5">5%</mat-option>
                    <mat-option value="10">10%</mat-option>
                    <mat-option value="15">15%</mat-option>
                    <mat-option value="20">20%</mat-option>
                    <mat-option value="25">25%</mat-option>
                    <mat-option value="30">30%</mat-option>
                    <mat-option value="35">35%</mat-option>
                    <mat-option value="40">40%</mat-option>
                    <mat-option value="45">45%</mat-option>
                    <mat-option value="50">50%</mat-option>
                    <mat-option value="55">55%</mat-option>
                    <mat-option value="60">60%</mat-option>
                    <mat-option value="65">55%</mat-option>
                    <mat-option value="70">70%</mat-option>
                    <mat-option value="75">75%</mat-option>
                    <mat-option value="80">80%</mat-option>
                    <mat-option value="85">85%</mat-option>
                    <mat-option value="90">90%</mat-option>
                    <mat-option value="95">95%</mat-option>
                    <mat-option value="100">100%</mat-option>
                    <mat-option value="na">N/A</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td mat-cell>
                <mat-form-field floatLabel="never" appearance="none">
                  <mat-select [(value)]="element.minimum.D" placeholder="50%">
                    <mat-option value="5">5%</mat-option>
                    <mat-option value="10">10%</mat-option>
                    <mat-option value="15">15%</mat-option>
                    <mat-option value="20">20%</mat-option>
                    <mat-option value="25">25%</mat-option>
                    <mat-option value="30">30%</mat-option>
                    <mat-option value="35">35%</mat-option>
                    <mat-option value="40">40%</mat-option>
                    <mat-option value="45">45%</mat-option>
                    <mat-option value="50">50%</mat-option>
                    <mat-option value="55">55%</mat-option>
                    <mat-option value="60">60%</mat-option>
                    <mat-option value="65">55%</mat-option>
                    <mat-option value="70">70%</mat-option>
                    <mat-option value="75">75%</mat-option>
                    <mat-option value="80">80%</mat-option>
                    <mat-option value="85">85%</mat-option>
                    <mat-option value="90">90%</mat-option>
                    <mat-option value="95">95%</mat-option>
                    <mat-option value="100">100%</mat-option>
                    <mat-option value="na">N/A</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td mat-cell>
                <mat-form-field floatLabel="never" appearance="none">
                  <mat-select [(value)]="element.minimum.F" placeholder="50%">
                    <mat-option value="5">5%</mat-option>
                    <mat-option value="10">10%</mat-option>
                    <mat-option value="15">15%</mat-option>
                    <mat-option value="20">20%</mat-option>
                    <mat-option value="25">25%</mat-option>
                    <mat-option value="30">30%</mat-option>
                    <mat-option value="35">35%</mat-option>
                    <mat-option value="40">40%</mat-option>
                    <mat-option value="45">45%</mat-option>
                    <mat-option value="50">50%</mat-option>
                    <mat-option value="55">55%</mat-option>
                    <mat-option value="60">60%</mat-option>
                    <mat-option value="65">55%</mat-option>
                    <mat-option value="70">70%</mat-option>
                    <mat-option value="75">75%</mat-option>
                    <mat-option value="80">80%</mat-option>
                    <mat-option value="85">85%</mat-option>
                    <mat-option value="90">90%</mat-option>
                    <mat-option value="95">95%</mat-option>
                    <mat-option value="100">100%</mat-option>
                    <mat-option value="na">N/A</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td mat-cell>
              <mat-form-field floatLabel="never" appearance="none">
                <mat-select [(value)]="element.minimum.G" placeholder="50%">
                  <mat-option value="5">5%</mat-option>
                  <mat-option value="10">10%</mat-option>
                  <mat-option value="15">15%</mat-option>
                  <mat-option value="20">20%</mat-option>
                  <mat-option value="25">25%</mat-option>
                  <mat-option value="30">30%</mat-option>
                  <mat-option value="35">35%</mat-option>
                  <mat-option value="40">40%</mat-option>
                  <mat-option value="45">45%</mat-option>
                  <mat-option value="50">50%</mat-option>
                  <mat-option value="55">55%</mat-option>
                  <mat-option value="60">60%</mat-option>
                  <mat-option value="65">55%</mat-option>
                  <mat-option value="70">70%</mat-option>
                  <mat-option value="75">75%</mat-option>
                  <mat-option value="80">80%</mat-option>
                  <mat-option value="85">85%</mat-option>
                  <mat-option value="90">90%</mat-option>
                  <mat-option value="95">95%</mat-option>
                  <mat-option value="100">100%</mat-option>
                  <mat-option value="na">N/A</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element" class="example-element-row">
    </tr>
    <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>

<!-- END TABLE 1 -->  
  <ng-container>
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100vw; height: 10vh;">
      <div layout="row" layout-align="center" flex="15">
         <button matSuffix mat-stroked-button color="success" (click)="saveDatatable()" style="margin-right:10px">
          Save
        </button>
      </div>
    </div>
  </ng-container>

</div>

<router-outlet></router-outlet>